<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/user">
        <img src="./css/quiznode_logo.png" class="img-fluid" alt="QuizNode logo">
      </a>

      <div class="d-grid gap-2 d-md-flex">
        <a href="/user"><button type="button" class="btn btn-outline-secondary navbtn">Home</button></a>
        <a href="/logout"><button type="button" class="btn btn-outline-secondary navbtn">Sign Out</button></a>
      </div>

    </div>
  </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Make a new quiz</h2>
            <form class="createQuiz">
            <div class="form-group">
                <label for="quizName">Quiz Name</label>
                <input type="text" class="form-control" id="quizName-input" placeholder="Name">
            </div>
            <div class="form-group">
                <label for="subject">Subject</label>
                <select class="form-control" id="subject-input">
                    <option>General</option>
                    <option>English</option>
                    <option>History</option>
                    <option>Math</option>
                    <option>Science</option> <!-- may need to add more, drop down will make it easier to search, need to double check with the group, will change search functionality-->
                </select>
            </div>
            <button type="submit" class="btn btn-default">Let's add some questions</button>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/createQuiz.js"></script>