<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Take a Quiz</h2>
            <form class="createQuestion">

                <div class="form-group">
                    <label for="question">Enter your question here</label>
                    <input type="text" class="form-control" id="question-input">
                </div>

                <button type="submit" class="btn btn-default" id="A">For choice A</button>
                <button type="submit" class="btn btn-default" id="B">For choice B</button>
                <button type="submit" class="btn btn-default" id="C">For choice C</button>
                <button type="submit" class="btn btn-default" id="D">For choice D</button>
            

            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/createQuestion.js"></script>