<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img src="./css/quiznode_logo.png" class="img-fluid" alt="QuizNode logo">
      </a>

      <div class="d-grid gap-2 d-md-flex">
        <a href="/logout"><button type="button" class="btn btn-outline-secondary navbtn">Sign Out</button></a>
        <a href=""><button type="button" class="btn btn-outline-secondary navbtn">My Quizes</button></a>
      </div>

    </div>
  </div> 
</nav>

<h1 class="text-center">Lets QuizNode!</h1>

<div class="jumbotron">
  <div class="container text-center">
    <h2>Create a quiz!</h2>      
    <a class="btn btn-primary" href="/createQuiz" role="button">Link</a>
  </div>
</div>

<div class="jumbotron">
  <div class="container text-center">
    <h2>Take a Quiz!</h2>
    <p>Choose a subject to take a quiz on!</p>      
    <div class="list-group list-group-horizontal">
      <a href="" class="list-group-item list-group-item-action">Math</a></li>
      <a href="" class="list-group-item list-group-item-action">Science</a></li>
      <a href="" class="list-group-item list-group-item-action">Social Studies</a></li>
      <a href="" class="list-group-item list-group-item-action">Health</a></li>
      <a href="" class="list-group-item list-group-item-action">English</a></li>
    </div>
    <p>Filler</p>
  </div>
</div>

<footer class="d-flex flex-column-reverse container-fluid text-center">
  <p>© 2021 QuizNode All Rights Reserved</p>
</footer>