
html, body {
    background-color: whitesmoke;
    padding: 2rem;
    margin:0;
    height:100%;
    position: relative;
}

.navbar {
    border-radius: 0;
    background-color: white;
    border-style: none;
    padding-bottom: 2rem;
}

.navbtn {
    margin-top: 2rem;
    float: right;
    margin-left: 1rem;
    color: black;
}

.navbar-header {
    width: 100%;
}

.jumbotron {
    background-color: whitesmoke;
    margin-bottom: 2rem;
}

.g-3{
    margin-top: 1rem;
}

.mainform {
    margin-bottom: 2rem;
}

.inputsection {
    margin-top: 3rem;
}

.form-control {
    margin-bottom: 2rem;
}

.signupbtn {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
    
/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    width: 100%;
    padding: 15px;
    position: absolute;
    bottom: 0;
    left: 0px;
}

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}
    
/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
}
