
html, body {
    background-color: whitesmoke;
    padding: 2rem;
    margin:0;
    height:100%;
    position: relative;
}

body { 
    background: #837960 url("./css/create.jpg") 0 0 no-repeat;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgb(185, 223, 255) 500%);   /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stoprgb(185, 223, 255)), color-stop(500%,rgba(130,91,0,1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgb(185, 223, 255) 500%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgb(185, 223, 255) 500%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgb(185, 223, 255) 500%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgb(185, 223, 255) 500%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#825b00',GradientType=0 ); /*IE6-9 */
}

.fade-in {
    margin-left: 1.5rem;
    font-size: 5rem;
    margin-top: 10rem;
    animation: fadeIn ease  3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
  }
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }
}

.quote {
    background: linear-gradient(90deg, #90EE90, rgb(255, 255, 255), rgb(255, 255, 255));
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 5s infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0.945);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}


.navbar {
    border-radius: 0;
    background-color: white;
    border-style: none;
    padding-bottom: 2rem;
}

.btn {
    transition: 0.3s;
}

.btn:hover {
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.24), 0 4px 12px 0 rgba(0,0,0,0.19);
}

.navbtn {
    margin-top: 2rem;
    float: right;
    margin-left: 1rem;
    color: black;
}

.navbar-header {
    width: 100%;
}

.jumbotron {
    background-color: whitesmoke;
    margin-bottom: 2rem;
    background: none;
}

.g-3{
    margin-top: 1rem;
}

.mainform {
    margin-bottom: 2rem;
}

.inputsection {
    margin-top: 2rem;
}

.form-control {
    margin-bottom: 2rem;
}

.loginpagemain {
    margin-top:2.5%;
}

.signupbtn {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
    
/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    width: 100%;
    padding: 15px;
    position: absolute;
    bottom: 0;
    left: 0px;
}

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}
    
/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
}
