
html, body {
    background-color: whitesmoke;
    padding: 2rem;
    margin:0;
    height:100%;
    position: relative;
    background-image: linear-gradient(to bottom right, rgb(83,193,31, 0.2), whitesmoke, rgb(150,61,170, 0.1), whitesmoke, rgb(254,196,63, 0.2));
    background-size: 400%;
    animation: bg-animation 20s infinite alternate;
}

@keyframes bg-animation {
    0% {background-position: left}
    100% {background-position: right}
}

.navbar {
    border-radius: 0;
    background-color: white;
    border-style: none;
    padding-bottom: 2rem;
}

.navbtn {
    margin-top: 2rem;
    float: right;
    margin-left: 1rem;
    color: black;
}

.navbar-header {
    width: 100%;
}

.container {
    margin-bottom: 30px;
}

.jumbotron {
    background-color: white;
}

.form-control {
    margin-bottom: 2rem;
}

.signinbtn {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    width: 100%;
    padding: 15px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}
    
/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
}
